.md-typeset figure img {
  display: inline;
}

.md-typeset .admonition,
.md-typeset details {
  font-size: 15px
}

.md-announce {
  background-color: #f0f8ff; /* Light blue background */
  padding: 10px;
  border-radius: 5px;
  color: #333;
}
